In [4]:
import numpy as np

import pandas as pd

In [17]:
url = 'https://raw.githubusercontent.com/Galm12/FisicaComputacional1/main/Actividad%20I/Datos.txt'
columnas = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']
df = pd.read_csv(url, names=columnas, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')
print(df.head(10))
print(df.tail(10))

        Fecha Precip Evap  Tmax Tmin
0  01/01/1986      0  4.6    26    9
1  02/01/1986      0  6.2    29    8
2  03/01/1986      0  4.4  23.5   10
3  04/01/1986      0  4.7    26   10
4  05/01/1986      0  5.9    28   11
5  06/01/1986      0  5.4    27    9
6  07/01/1986      0  4.8    24    5
7  08/01/1986      0  5.8    25    9
8  09/01/1986      0  7.3    28  5.5
9  10/01/1986      0  6.3    29    8
            Fecha Precip Evap  Tmax  Tmin
11130  21/09/2016      0  5.7    38    24
11131  22/09/2016      0  7.7  31.5    21
11132  23/09/2016      0  7.3    35  22.5
11133  24/09/2016      0    7    37    21
11134  25/09/2016    0.8  7.9    37    16
11135  26/09/2016      0  5.8    36    18
11136  27/09/2016      0    7  36.5    20
11137  28/09/2016      0  6.3    37    19
11138  29/09/2016    0.7  5.3  37.5    22
11139  30/09/2016      0  5.7    37    24

In [8]:
df.shape

(11140, 5)

In [9]:
df.info

<bound method DataFrame.info of             Fecha Precip Evap  Tmax Tmin
0      01/01/1986      0  4.6    26    9
1      02/01/1986      0  6.2    29    8
2      03/01/1986      0  4.4  23.5   10
3      04/01/1986      0  4.7    26   10
4      05/01/1986      0  5.9    28   11
...           ...    ...  ...   ...  ...
11135  26/09/2016      0  5.8    36   18
11136  27/09/2016      0    7  36.5   20
11137  28/09/2016      0  6.3    37   19
11138  29/09/2016    0.7  5.3  37.5   22
11139  30/09/2016      0  5.7    37   24

[11140 rows x 5 columns]>

In [12]:
#Realizamos una copia para poder editarla, también le cambiamos el nombre
df_work0 = df.copy()
df_work0.head()

        Fecha Precip Evap  Tmax Tmin
0  01/01/1986      0  4.6    26    9
1  02/01/1986      0  6.2    29    8
2  03/01/1986      0  4.4  23.5   10
3  04/01/1986      0  4.7    26   10
4  05/01/1986      0  5.9    28   11

In [14]:
#Llamamos Str_Nulo a los valores Nulos para pasar a darles un valor de " "
str_Nulo = 'Nulo'
df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)
df_work1.head()

        Fecha Precip Evap  Tmax Tmin
0  01/01/1986      0  4.6    26    9
1  02/01/1986      0  6.2    29    8
2  03/01/1986      0  4.4  23.5   10
3  04/01/1986      0  4.7    26   10
4  05/01/1986      0  5.9    28   11

In [25]:
#Convertimos los números a flotantes
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_work1[cols] = pd.to_numeric(df_work1[cols], errors='coerce')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11140 entries, 0 to 11139
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   11140 non-null  object
 1   Precip  11140 non-null  object
 2   Evap    11140 non-null  object
 3   Tmax    11140 non-null  object
 4   Tmin    11140 non-null  object
dtypes: object(5)
memory usage: 435.3+ KB

In [27]:
df.isnull().sum()

Fecha     0
Precip    0
Evap      0
Tmax      0
Tmin      0
dtype: int64

In [28]:
print(df_work1.head())
print(df_work1.tail())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1986     0.0   4.6  26.0   9.0
1  02/01/1986     0.0   6.2  29.0   8.0
2  03/01/1986     0.0   4.4  23.5  10.0
3  04/01/1986     0.0   4.7  26.0  10.0
4  05/01/1986     0.0   5.9  28.0  11.0
            Fecha  Precip  Evap  Tmax  Tmin
11135  26/09/2016     0.0   5.8  36.0  18.0
11136  27/09/2016     0.0   7.0  36.5  20.0
11137  28/09/2016     0.0   6.3  37.0  19.0
11138  29/09/2016     0.7   5.3  37.5  22.0
11139  30/09/2016     0.0   5.7  37.0  24.0

In [30]:
df_work1.describe().round(2)

         Precip     Evap      Tmax      Tmin
count  11138.00  6550.00  11128.00  11128.00
mean       0.93     6.11     32.68     14.60
std        5.94     2.89      5.99      8.09
min        0.00     0.20     11.00     -4.00
25%        0.00     3.70     28.00      8.00
50%        0.00     5.90     33.50     13.50
75%        0.00     8.30     38.00     23.00
max      193.10    17.80     46.00     33.00

Podemos ver que los datos obtenidos van conforme a la estación, ningún dato se dale de lo habitual

**Paso 4**

In [31]:
df_work2 = df_work1.copy()
df_work2['Fecha'].head()

0    01/01/1986
1    02/01/1986
2    03/01/1986
3    04/01/1986
4    05/01/1986
Name: Fecha, dtype: object

In [32]:
df_work2['Fecha']=pd.to_datetime(df_work2['Fecha'], dayfirst=True).copy()
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1986     0.0   4.6  26.0   9.0
1  02/01/1986     0.0   6.2  29.0   8.0
2  03/01/1986     0.0   4.4  23.5  10.0
3  04/01/1986     0.0   4.7  26.0  10.0
4  05/01/1986     0.0   5.9  28.0  11.0

In [33]:
df_work2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

In [34]:
print(df_work2.head())
print(df_work2.tail())

       Fecha  Precip  Evap  Tmax  Tmin
0 1986-01-01     0.0   4.6  26.0   9.0
1 1986-01-02     0.0   6.2  29.0   8.0
2 1986-01-03     0.0   4.4  23.5  10.0
3 1986-01-04     0.0   4.7  26.0  10.0
4 1986-01-05     0.0   5.9  28.0  11.0
           Fecha  Precip  Evap  Tmax  Tmin
11135 2016-09-26     0.0   5.8  36.0  18.0
11136 2016-09-27     0.0   7.0  36.5  20.0
11137 2016-09-28     0.0   6.3  37.0  19.0
11138 2016-09-29     0.7   5.3  37.5  22.0
11139 2016-09-30     0.0   5.7  37.0  24.0

In [35]:
df_work2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11140 entries, 0 to 11139
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   11140 non-null  datetime64[ns]
 1   Precip  11138 non-null  float64
 2   Evap    6550 non-null   float64
 3   Tmax    11128 non-null  float64
 4   Tmin    11128 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 435.3 KB